.full-container{
    background-color: #e3e3e3;
    height: 100vh;
    width: 100vw;
}

.head-decoration{
    background-color: rgb(20, 63, 115);
    width: 100%;
    height: 25%;
}

.form-container{
    display: flex;
    justify-content: center;
    margin-top: -10vh;
}

.form-search{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    max-height: 60vh;
    width: 50vw;
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
}

.form-date-control{
    margin-left: 2vw;
    border: solid 1px gray;
    border-radius: 0.5rem;
    padding: 0.1rem 0.5rem;
}

.list-group-item {
    cursor: pointer;
    pointer-events: auto;
}
.list-group-item:hover {
    background-color: #b6b6b6 ;
}

.clients-filter {
    max-height: 15vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 986px){
    .form-search{
        width: 70vw;
    }
}